<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <p>Name: <%= robot.name %></p>
    <p>Description: <%= robot.description %></p>
    <p>Stock: <%= robot.in_stock %></p>

    <a href="/robots">Robots List</a>

  </body>
</html>
